.home-display-flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  width: 100%;
}
@media (max-width: 350px) {
  width: 100%;
}
@media (max-width: 400px) {
  width: 100%;
}
@media (max-width:700px) {
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Titillium Web', sans-serif;
  color: #232222;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Titillium Web', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  font-size: 1.8rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.Global-Navigation {
  font-family: 'Righteous', cursive;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #74898A;
  padding: 1.5rem;
  color: #232222;
}
.Global-Navigation h1 {
  font-size: 4rem;
  font-family: 'Righteous', cursive;
}
.Global-Navigation .HeaderLinks {
  padding: 1.5rem;
  color: #E6E6E6;
}
.Global-Navigation button {
  font-family: 'Righteous', cursive;
  background-color: #FCC024;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 5rem;
  border-color: #FCC024;
  border-style: solid;
  padding: 0.25rem;
}
.Global-Navigation button a {
  color: #74898A;
}
.Global-Navigation button a :hover {
  background-color: #74898A;
  color: #FCC024;
}
@media (max-width: 500px) {
  .Global-Navigation {
    flex-direction: column;
    padding: 1.5rem 0rem 0rem 0rem;
  }
  .Global-Navigation .HeaderLinks {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .Global-Navigation div {
    padding: 1rem 0rem;
  }
}
@media (max-width: 500px) and (max-width: 400px) {
  .Global-Navigation div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer {
  background-color: #74898A;
  text-align: center;
  color: #171b1b;
  padding: 1rem 0;
}
footer p {
  padding: 0;
}
.main-hero .hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/CoupleTravel.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.main-hero .container {
  position: relative;
  height: inherit;
}
.main-hero .main-heading-block {
  width: 50%;
  color: #fff;
  border: 2px solid #E6E6E6;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}
@media (max-width:500px) {
  .main-hero .main-heading-block {
    width: 80%;
  }
}
.main-hero .main-heading-block h2 {
  padding-bottom: 2rem;
  font-size: 5rem;
}
@media (max-width:650px) {
  .main-hero .main-heading-block h2 {
    font-size: 3.6rem;
  }
}
.main-hero .main-heading-block h3 {
  font-size: 2.5rem;
}
@media (max-width:650px) {
  .main-hero .main-heading-block h3 {
    font-size: 2rem;
  }
}
.front-page-sections {
  padding: 8rem 0;
}
.section-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width:650px) {
  .section-content {
    flex-direction: column;
    align-items: center;
  }
}
.section-content .img-container,
.section-content .content-card {
  width: 45%;
}
@media (max-width:650px) {
  .section-content .img-container,
  .section-content .content-card {
    margin-bottom: 2rem;
    width: 70%;
  }
}
@media (max-width:500px) {
  .section-content .img-container,
  .section-content .content-card {
    width: 100%;
  }
}
.section-content .content-card {
  position: relative;
}
.section-content .content-card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
@media (max-width:650px) {
  .section-content .content-card .card-text {
    position: static;
    transform: translate(0, 0);
    width: 100%;
    padding: 2rem;
  }
}
.section-content .content-card p {
  font-size: 1.75rem;
}
.section-content .primary-card {
  background-color: #74898A;
  color: #fff;
}
.section-content .secondary-card {
  background-color: #fff;
  color: #74898A;
}
.secondary-section {
  background-color: #E6E6E6;
}
@media (max-width:650px) {
  .secondary-section .section-content {
    flex-direction: column-reverse;
  }
}
.features .features-parent {
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .features .features-parent {
    flex-direction: column;
  }
}
.features .feature-block {
  width: 30%;
  border: 3px solid #FCC024;
  padding: 2rem;
  text-align: center;
}
@media (max-width:500px) {
  .features .feature-block {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.features .feature-block i {
  font-size: 3rem;
}
.features .feature-block h3 {
  margin: 1.5rem 0;
  font-size: 2rem;
}
.aboutContainer {
  background-color: #E6E6E6;
}
.ImageBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/Parachuting.jpg);
}
.AboutUsBannerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 1rem;
  border-radius: 2.5rem;
}
.MissionStatement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.MissionStatement h2 {
  text-align: center;
}
.MissionStatement p {
  padding: 2rem;
  background: #74898A;
  border-radius: 2.5rem;
}
.MeetTheTeam {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.MeetTheTeam .TeamHeading h2 {
  text-align: center;
}
.MeetTheTeam .ProfileArray {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.MeetTheTeam .ProfileArray .boxes {
  border: 1px solid #FCC024;
  border-radius: 2.5rem;
  width: 30%;
  margin: 1rem 0rem;
}
.MeetTheTeam .ProfileArray .boxes h3 {
  text-align: center;
  font-size: 2.5rem;
}
.MeetTheTeam .ProfileArray .boxes .ProfileSnippet {
  padding-top: 2rem;
}
.MeetTheTeam .ProfileArray .boxes p {
  display: block;
  margin-left: 60%;
  margin-right: auto;
  max-width: 40%;
  font-size: 2rem;
}
.MeetTheTeam .ProfileArray .boxes img {
  border: 3px solid #FCC024;
  border-radius: 10rem;
  width: 50%;
  height: 50%;
  float: left;
}
@media (max-width: 500px) {
  .MeetTheTeam .ProfileArray {
    flex-direction: column;
  }
  .MeetTheTeam .ProfileArray .boxes {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .MeetTheTeam .ProfileArray .boxes h3 {
    font-size: 2rem;
  }
}
