// About page code here
.MissionStatement{
    p{
        border-top: 1px solid @charcoal;
    }//closes p

}//closes missionstatement

.MeetTheTeam{


    .ProfileArray{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

            .Boxes{
                width:45%;
                
                        h3{
                            font-size: 3rem;
                        }
            }//closes boxes

    }//closes profilearray

}//closes meeththeteam