.main-hero {
    .hero-image {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url('../images/CoupleTravel.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    //   padding: 15rem 0;
      height: 100vh;
    //   position: relative;
    }

    .container {
        position: relative;
        height: inherit;
    }

    .main-heading-block {
        width: 50%;
        color: #fff;
        border: 2px solid @off-white;
        padding: 2rem;
        position: absolute;
        top: 50%;
        transform: translateY(-60%);

        @media @homepage-phone {
            width: 80%;
        }

        h2 {
            padding-bottom: 2rem;
            font-size: 5rem;

            @media @homepage-tablet {
                font-size: 3.6rem;
            }
        }
        h3 {
            font-size: 2.5rem;

            @media @homepage-tablet {
                font-size: 2rem;
            }
        }
    }
}

.front-page-sections {
    padding: 8rem 0;
}

.section-content {
    .home-display-flex();

    @media @homepage-tablet {
        flex-direction: column;
        align-items: center;
    } // End of tablet media query for .section-content.

    .img-container,
    .content-card {
        width: 45%;
        
        @media @homepage-tablet {
            margin-bottom: 2rem;    
            width: 70%;
        } // End of tablet media query for .img-container.

        @media @homepage-phone {
            width: 100%;
        } // End of phone media query for .img-container.
    }

    .content-card {
        position: relative;

        .card-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;

            @media @homepage-tablet {
                position: static;
                transform: translate(0,0);
                width: 100%;
                padding: 2rem;
            } // End of tablet media query for p.
        }

        p {
            font-size: 1.75rem;
        }
    }

    .primary-card {
        .home-page-cards-bg(@grey-blue, #fff);
    }

    .secondary-card {
        .home-page-cards-bg(#fff, @grey-blue);
    }
}

.secondary-section {
    background-color: @beach-blue;

    .section-content {
        @media @homepage-tablet {
            flex-direction: column-reverse;
        }
    }
}

.features {
    .features-parent {
        .home-display-flex();
        @media @homepage-phone {
            flex-direction: column;
        }
    }
    .feature-block {
        width: 30%;
        border: 3px solid @yellow;
        padding: 2rem;
        text-align: center;

        @media @homepage-phone {
            width: 100%;
            margin-bottom: 2rem;
        }

        i {
            font-size: 3rem;
        }

        h3 {
            margin: 1.5rem 0;
            font-size: 2rem;
        }
    }
}
