.main-hero {
    .hero-image {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url('../images/CoupleTravel.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 15rem 0;
    }

    .main-heading-block {
        width: 50%;
        color: @off-white;
        border: 2px solid @off-white;
        padding: 2rem;

        h1 {
            padding-bottom: 2rem;
        }
    }
}

.section-content {
    padding: 8rem 0;
    .home-display-flex();

    .img-container {
        width: 45%;
    }

    .content-card {
        width: 45%;
        border: 3px solid @grey-blue;
        padding: 3rem;
        position: relative;

        p {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.secondary-section {
    background-color: @beach-blue;
}
