//Home page mixins
.home-display-flex {
    display: flex;
    justify-content: space-between;
}

.home-page-cards-bg(@bg-color, @font-color) {
    background-color: @bg-color;
    color: @font-color;
}

@media @mobile{
    width: 100%;
  } 

@media @mobile350{
    width: 100%;
}

@media @mobile400{
    width: 100%;
}

@media @mobile700{
    width: 100%;
}

@homepage-tablet: ~'(max-width:650px)';
@homepage-phone: ~'(max-width:500px)';
