//Navigation Code here
.AboutPage-Container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


.Global-Navigation{
    width: 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;

        h1{
            font-size: 5rem;
        }

        div {
            width: 50%;
            justify-content: space-between;            
        }

        a{
            padding: 1rem;
        }

        button{
            background-color: blue;    
            cursor: pointer;           
            border-radius: 5px;
            color:white;
            margin-left: 2rem;
            }
}

