//Navigation Code here​
.Global-Navigation{
    width: 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    
        div{
            
            button{
            background-color: @grey-blue;
            cursor: pointer;
            font-size: 2rem;
            border-radius: 10px;
            color:@off-white;
            }

            .HeaderLinks{
                padding: 1rem;
            }
        }

        
}